<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Angular")
    @Styles.Render("~/Content/Angular2")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.3.0/rxjs.umd.min.js" integrity="sha512-y3JTS47nnpKORJX8Jn1Rlm+QgRIIZHtu3hWxal0e81avPrqUH48yk+aCi+gprT0RMAcpYa0WCkapxe+bpBHD6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular/12.0.0-next.0/core.umd.min.js" integrity="sha512-qnLfuaeqxIzWIrqy0nAEBPPlWPJNgiyGG6PZKuuOKvnXj5A7Et4td9l3z2+xffQUqnjkcIkczAQ31MWxqLS4ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("RazorDem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Angular", "Index", "AngularData")
                @Html.ActionLink("Angular2", "Index", "AngularData2")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Razor AppDemo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Angular2")
    @Scripts.Render("~/bundles/Angular")
    @RenderSection("scripts", required: false)
</body>
</html>

